*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Con esto puedes centrar el texto dentro de un div, se pone en el contenedor
width:100px;
height: 100px;
line-height: 100px;
border: solid;
margin: 1rem;
text-align: center; */

.U-colorYSombra{
    background: linear-gradient(to bottom right, white 70%, red);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.U-tituloSeparador{
    margin: 1rem;
}

.U-alineadoInterno{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px 5px;
}

/* Caudno haces clic en el menu te llev a la seccion, pero se tapa una parte de la parte superior. Con esto ya se ve la informacion completa. */
#home:target, #data:target, #studies:target, #knowledge:target, #project:target, #contact:target{
    padding-top: 60px;
}

.Main{
    position: absolute;
    top: 30px;
    background-color:#1d1a1b08;
}

.Nav{
    border-bottom: 1px solid linear-gradient(to right, red, white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: white;
}

.Nav-ul{
    display: flex;
    justify-content: center;
}

.Nav-li{
    list-style: none;
}

.Nav-a{
    margin: 2px;
    padding: 5px;
    font-size: .8rem;
    text-decoration: none;
}

.Nav-a img{
    width: .8rem;
}

.Introduction-p{
    text-align: justify;
    margin: 5px;
}

.Data{
    overflow: auto;
}

.Data a{
    width: 100%;
    text-align: center;
}

.Data-containerImg{
    margin: 5px;
    width:15%;
}

.Data-img{
    border-radius:  50%;
    width: 100%;
}

.Motivating{
    overflow:auto;
}

.Studies-link{
    margin: 1px;
    text-decoration: none;
    padding: 2px;
    font-size: .8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.Studies-logo{
    display: none;
}

.Projects-mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Projects-container{
    text-align: center;
    width:300px;
    margin: 1rem; 
}

.Projects-img{
    width: 100%;
}  

@media (min-width: 576px) { 

    .Main{
        display: flex;
        justify-content: space-around;
        top: 45px;
    }
    
    .Nav-ul{
        display: flex;
        justify-content: space-around;
    }
    
    .Nav-li{
        margin: 10px 0 5px 0;
    }

    .Nav-a{
        font-size: 1.2rem;
    }

    .Nav-a img{
        width: 1.5rem;
    }

    .Derecho{
        /* order: 2; */
        width: 60%;
    }
    
    .Izquierdo{
        width:30%;
    }

    .Data-containerImg{
        width:25%;
    }

    .Studies-link{
        font-size: 1rem;
    }
    .Studies-logo{
        display:block;
        width: 8%;
    }
}
